# Ansible files
hosts.ini
.vault_pass

# Vim swap files
*.swp
*.swo

# Vagrant
**/.vagrant
**/.vagrant/*
**/.vagrant/**

# Used in new Pi OS bootstrap process see: https://www.raspberrypi.com/news/raspberry-pi-bullseye-update-april-2022/
userconf
ssh
